BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=123456789
API_HOST=0.0.0.0
API_PORT=8002
DATABASE_URL=
LOG_LEVEL=INFO
BIRDEYE_API_KEY=
TWITTER_API_KEY=
ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=
SOLSCAN_API_KEY=
